
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501762101029'); /* IE9*/
  src: url('iconfont.eot?t=1501762101029#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501762101029') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501762101029') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501762101029#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e600"; }

.icon-delete-one:before { content: "\e610"; }

.icon-search:before { content: "\e6ae"; }

.icon-person:before { content: "\e649"; }

.icon-back:before { content: "\e65b"; }

.icon-more:before { content: "\e63c"; }

